<footer class="container py-5">
	<div class="row">
		<div class="col-12 col-md">
			<img src="{{.Site.Params.Footer.Logo}}" alt="small footer logo">
			<small class="d-block mb-3 text-muted">© {{time.Now.Year}} {{.Site.Params.Footer.Copyright}}</small>
		</div>
		<div class="col-6 col-md">
			<h5>{{.Site.Params.Footer.Col1.Head}}</h5>
			<ul class="list-unstyled text-small">
				{{range .Site.Params.Footer.Col1.Links}}
				<li><a class="link-secondary" href="{{.url}}">{{.text}}</a></li>
				{{end}}
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>{{.Site.Params.Footer.Col2.Head}}</h5>
			<ul class="list-unstyled text-small">
				{{range .Site.Params.Footer.Col2.Links}}
				<li><a class="link-secondary" href="{{.url}}">{{.text}}</a></li>
				{{end}}
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>{{.Site.Params.Footer.Col3.Head}}</h5>
			<ul class="list-unstyled text-small">
				{{range .Site.Params.Footer.Col3.Links}}
				<li><a class="link-secondary" href="{{.url}}">{{.text}}</a></li>
				{{end}}
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>{{.Site.Params.Footer.Col4.Head}}</h5>
			{{range .Site.Params.Footer.Col4.Lines}}
			{{.}}<br>
			{{end}}
		</div>
	</div>
	<center>This website is using the <a href="https://git.sr.ht/~poldi1405/tarnvpn-theme">TarnVPN-Theme</a>.</center>
</footer>
